# **PROJETO - CLUSTERIZAÇÃO DE DADOS SOCIAIS AO REDOR DO GLOBO**

FONTE: https://databank.worldbank.org/source/world-development-indicators#

## **CONECTAR COM O GOOGLE DRIVE PARA CAPTAR OS BANCOS DE DADOS**

In [245]:
# conecta o colab ao google drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## **IMPORTS DE BIBLIOTECAS**

###BIBLIOTECA DE ANÁLISE DE TEMPO DE EXECUÇÃO DO SCRIPT

In [246]:
# Cronometra o tempo de execução do programa

import time
start_script = time.time()

###BIBLIOTECAS RESTANTES

In [247]:
# Importa as bibliotecas necessárias

from datetime import datetime, date
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import numpy as np
from scipy.stats import normaltest
from scipy.stats import t
from scipy import stats
from IPython.display import clear_output 
import pdb

##**FUNÇÕES**

In [248]:
def ler_csv(name_csv):
  df = pd.read_csv(bd_local + '/' + name_csv, header=0, sep = ',', skiprows=0, decimal='.')
  return df

In [249]:
def formatar_titulo(text):
  words = text.split(" ")
  total_string = ""
  for counter, word in enumerate(words):
    if counter>0 and counter % 5 == 0:
      total_string +="\n{}".format(word)
    else:
      total_string +=" {}".format(word)
  return total_string.lstrip()

##**CAPTAÇÃO DE DADOS**

In [250]:
bd_geral = '/content/drive/MyDrive/..Python_Codes/Projeto_Statistic_Analysis_03/'
bd_local = bd_geral + 'BD'
df = ler_csv('e9fc2d47-7cea-4268-b8d7-28b03fa17709_Data.csv')
# df#.head()

## **TRATAMENTO DE DADOS**

In [251]:
df.drop('Country Code',  axis='columns', inplace=True)    # remove colunas desnecessárias
df.drop('Series Code',  axis='columns', inplace=True)    # remove colunas desnecessárias

# Remove linhas sem utilidade:
df.replace('..', np.nan, inplace=True)
df.replace('World', np.nan, inplace=True)
df.replace('Upper middle income', np.nan, inplace=True)
df.replace('Lower middle income', np.nan, inplace=True)
df.replace('Low income', np.nan, inplace=True)
df.replace('Low & middle income', np.nan, inplace=True)
df.replace('Lower middle income', np.nan, inplace=True)
df.replace('Post-demographic dividend', np.nan, inplace=True)
df.replace('Pre-demographic dividend', np.nan, inplace=True)
df.replace('Other small states', np.nan, inplace=True)
df.replace('OECD members', np.nan, inplace=True)
df.replace('Not classified', np.nan, inplace=True)
df.replace('North America', np.nan, inplace=True)
df.replace('Middle East & North Africa (excluding high income)', np.nan, inplace=True)
df.replace('Middle East & North Africa', np.nan, inplace=True)
df.replace('Least developed countries: UN classification', np.nan, inplace=True)
df.replace('Latin America & the Caribbean (IDA & IBRD countries)', np.nan, inplace=True)
df.replace('Latin America & Caribbean (excluding high income)', np.nan, inplace=True)
df.replace('Late-demographic dividend', np.nan, inplace=True)
df.replace('IDA total', np.nan, inplace=True)
df.replace('IDA only', np.nan, inplace=True)
df.replace('IDA blend', np.nan, inplace=True)
df.replace('IDA & IBRD total', np.nan, inplace=True)
df.replace('IBRD only', np.nan, inplace=True)
df.replace('High income', np.nan, inplace=True)
df.replace('Heavily indebted poor countries (HIPC)', np.nan, inplace=True)
df.replace('Fragile and conflict affected situations', np.nan, inplace=True)
df.replace('Europe & Central Asia', np.nan, inplace=True)
df.replace('Euro area', np.nan, inplace=True)
df.replace('East Asia & Pacific (IDA & IBRD countries)', np.nan, inplace=True)
df.replace('East Asia & Pacific (excluding high income)', np.nan, inplace=True)
df.replace('East Asia & Pacific', np.nan, inplace=True)
df.replace('Early-demographic dividend', np.nan, inplace=True)
df.replace('Central Europe and the Baltics', np.nan, inplace=True)
df.replace('Data from database: World Development Indicators', np.nan, inplace=True)
df.replace('Last Updated: 06/30/2022', np.nan, inplace=True)

# df.replace(0, np.nan, inplace=True)

# Remove NaN:
df = df[df['Country Name'].notna()]

In [252]:
for n in df.columns:
  c = df[n].count()
  if c > 8:
    pass
  else:
    df.drop(n,  axis='columns', inplace=True)    # remove coluna com menos de 8 dados

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [253]:
df

,Country Name,Series Name,1970 [YR1970],1971 [YR1971],1972 [YR1972],1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],1977 [YR1977],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,Access to clean fuels and technologies for coo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.8,23,24.8,26.1,27.4,28.6,29.7,30.9,31.9,33.2
1,Afghanistan,Access to electricity (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43.2220191955566,69.0999984741211,68.2906494140625,89.5,71.5,97.6999969482422,97.6999969482422,96.6161346435547,97.6999969482422,97.6999969482422
2,Afghanistan,Adjusted net national income per capita (const...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,516.946743414225,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Adolescents out of school (% of lower secondar...,NaN,NaN,NaN,NaN,80.2730865478516,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,"Children out of school, primary",NaN,NaN,NaN,NaN,1445969,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1315,Sub-Saharan Africa (IDA & IBRD countries),Access to clean fuels and technologies for coo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.66713932412,13.092997764376,13.5245921485679,13.9890295687858,14.4882753235585,15.1130418757442,15.7194167455806,16.3515486719673,17.0928650231738,17.7383392485754
1316,Sub-Saharan Africa (IDA & IBRD countries),Access to electricity (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.8762582756268,36.8161552261,37.9479417155027,38.2934627763418,39.0737470627612,43.7512869889935,43.7316298787366,46.3706722370329,47.1047724048359,48.3510787862696
1317,Sub-Saharan Africa (IDA & IBRD countries),Adjusted net national income per capita (const...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1244.69190189998,1306.28946745253,1322.55883500886,1365.72385794127,1382.6773885296,1394.19395892346,1354.92183419771,1375.73135890267,1381.69334630816,1329.70963978921
1318,Sub-Saharan Africa (IDA & IBRD countries),Adolescents out of school (% of lower secondar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.5915908813477,37.1738815307617,37.901180267334,38.711109161377,38.3366317749023,37.4835815429688,36.6587295532227,35.8764305114746,36.4036293029785,36.5981101989746
1319,Sub-Saharan Africa (IDA & IBRD countries),"Children out of school, primary",NaN,NaN,NaN,NaN,NaN,31538254,31782948,31277468,...,31447320,31895004,31911424,32619230,33945052,34140968,34939368,34811412,36265752,37135628

In [254]:
# contagem de amostras por ano:
for n in df.columns:
  print(n+': '+ str(len(df[df[n].notna()])))

Country Name: 1170
Series Name: 1170
1970 [YR1970]: 66
1971 [YR1971]: 135
1972 [YR1972]: 142
1973 [YR1973]: 139
1974 [YR1974]: 138
1975 [YR1975]: 135
1976 [YR1976]: 150
1977 [YR1977]: 160
1978 [YR1978]: 163
1979 [YR1979]: 162
1980 [YR1980]: 161
1981 [YR1981]: 174
1982 [YR1982]: 169
1983 [YR1983]: 174
1984 [YR1984]: 178
1985 [YR1985]: 179
1986 [YR1986]: 185
1987 [YR1987]: 175
1988 [YR1988]: 173
1989 [YR1989]: 174
1990 [YR1990]: 284
1991 [YR1991]: 295
1992 [YR1992]: 322
1993 [YR1993]: 337
1994 [YR1994]: 367
1995 [YR1995]: 377
1996 [YR1996]: 392
1997 [YR1997]: 387
1998 [YR1998]: 421
1999 [YR1999]: 538
2000 [YR2000]: 792
2001 [YR2001]: 795
2002 [YR2002]: 809
2003 [YR2003]: 798
2004 [YR2004]: 805
2005 [YR2005]: 824
2006 [YR2006]: 811
2007 [YR2007]: 828
2008 [YR2008]: 824
2009 [YR2009]: 838
2010 [YR2010]: 837
2011 [YR2011]: 856
2012 [YR2012]: 869
2013 [YR2013]: 863
2014 [YR2014]: 872
2015 [YR2015]: 911
2016 [YR2016]: 867
2017 [YR2017]: 868
2018 [YR2018]: 858
2019 [YR2019]: 841
2020 [YR2020]: 733

In [255]:
# Como 2015 tinha mais amostras, foi encolhido para análise:
df_2015 = pd.DataFrame({'País': df['Country Name'],
                        'Indicador': df['Series Name'],
                        'Valor': df['2015 [YR2015]']})
df_2015

,País,Indicador,Valor
0,Afghanistan,Access to clean fuels and technologies for coo...,27.4
1,Afghanistan,Access to electricity (% of population),71.5
2,Afghanistan,Adjusted net national income per capita (const...,516.946743414225
3,Afghanistan,Adolescents out of school (% of lower secondar...,NaN
4,Afghanistan,"Children out of school, primary",NaN
...,...,...,...
1315,Sub-Saharan Africa (IDA & IBRD countries),Access to clean fuels and technologies for coo...,14.4882753235585
1316,Sub-Saharan Africa (IDA & IBRD countries),Access to electricity (% of population),39.0737470627612
1317,Sub-Saharan Africa (IDA & IBRD countries),Adjusted net national income per capita (const...,1382.6773885296
1318,Sub-Saharan Africa (IDA & IBRD countries),Adolescents out of school (% of lower secondar...,38.3366317749023
1319,Sub-Saharan Africa (IDA & IBRD countries),"Children out of school, primary",33945052

In [256]:
# rearranjando dados (indicador 1)
df_2015_indic1 = df_2015.copy()  # copia o dataframe mãe
df_2015_indic1.replace('Access to electricity (% of population)', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN 
df_2015_indic1.replace('Adjusted net national income per capita (constant 2015 US$)', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN
df_2015_indic1.replace('Adolescents out of school (% of lower secondary school age)', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN
df_2015_indic1.replace('Children out of school, primary', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN

df_2015_indic1 = df_2015_indic1[df_2015_indic1['Indicador'].notna()] # remove NaN na coluna "indicador"

df_2015_indic1.drop('Indicador',  axis='columns', inplace=True)    # remove colunas desnecessárias
df_2015_indic1.rename(columns = {'Valor':'Access to clean fuels and technologies for cooking (% of population)'}, inplace = True) # renomeia a coluna valor pelo nome especifico do indicador

# lista_2015_indic1 = list(df_2015_indic1['Valor'])  # gera lista somente com valores do indicador 1
                  
###############################################################################################################################################################
# rearranjando dados (indicador 2)
df_2015_indic2 = df_2015.copy()  # copia o dataframe mãe
df_2015_indic2.replace('Access to clean fuels and technologies for cooking (% of population)', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN 
df_2015_indic2.replace('Adjusted net national income per capita (constant 2015 US$)', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN
df_2015_indic2.replace('Adolescents out of school (% of lower secondary school age)', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN
df_2015_indic2.replace('Children out of school, primary', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN

df_2015_indic2 = df_2015_indic2[df_2015_indic2['Indicador'].notna()] # remove NaN na coluna "indicador"

df_2015_indic2.drop('Indicador',  axis='columns', inplace=True)    # remove colunas desnecessárias
df_2015_indic2.rename(columns = {'Valor':'Access to electricity (% of population)'}, inplace = True) # renomeia a coluna valor pelo nome especifico do indicador

# lista_2015_indic2 = list(df_2015_indic2['Valor'])  # gera lista somente com valores do indicador 2
                  
###############################################################################################################################################################
# rearranjando dados (indicador 3)
df_2015_indic3 = df_2015.copy()  # copia o dataframe mãe
df_2015_indic3.replace('Access to clean fuels and technologies for cooking (% of population)', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN 
df_2015_indic3.replace('Access to electricity (% of population)', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN
df_2015_indic3.replace('Adolescents out of school (% of lower secondary school age)', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN
df_2015_indic3.replace('Children out of school, primary', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN

df_2015_indic3 = df_2015_indic3[df_2015_indic3['Indicador'].notna()] # remove NaN na coluna "indicador"

df_2015_indic3.drop('Indicador',  axis='columns', inplace=True)    # remove colunas desnecessárias
df_2015_indic3.rename(columns = {'Valor':'Adjusted net national income per capita (constant 2015 US$)'}, inplace = True) # renomeia a coluna valor pelo nome especifico do indicador

# lista_2015_indic3 = list(df_2015_indic3['Valor'])  # gera lista somente com valores do indicador 3
                  
###############################################################################################################################################################
# rearranjando dados (indicador 4)
df_2015_indic4 = df_2015.copy()  # copia o dataframe mãe
df_2015_indic4.replace('Access to clean fuels and technologies for cooking (% of population)', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN 
df_2015_indic4.replace('Access to electricity (% of population)', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN
df_2015_indic4.replace('Adjusted net national income per capita (constant 2015 US$)', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN
df_2015_indic4.replace('Children out of school, primary', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN

df_2015_indic4 = df_2015_indic4[df_2015_indic4['Indicador'].notna()] # remove NaN na coluna "indicador"

df_2015_indic4.drop('Indicador',  axis='columns', inplace=True)    # remove colunas desnecessárias
df_2015_indic4.rename(columns = {'Valor':'Adolescents out of school (% of lower secondary school age)'}, inplace = True) # renomeia a coluna valor pelo nome especifico do indicador

# lista_2015_indic4 = list(df_2015_indic4['Valor'])  # gera lista somente com valores do indicador 4
                  
###############################################################################################################################################################
# rearranjando dados (indicador 5)
df_2015_indic5 = df_2015.copy()  # copia o dataframe mãe
df_2015_indic5.replace('Access to clean fuels and technologies for cooking (% of population)', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN 
df_2015_indic5.replace('Access to electricity (% of population)', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN
df_2015_indic5.replace('Adjusted net national income per capita (constant 2015 US$)', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN
df_2015_indic5.replace('Adolescents out of school (% of lower secondary school age)', np.nan, inplace=True)  # remove dados de outros indicadores transformando em NaN

df_2015_indic5 = df_2015_indic5[df_2015_indic5['Indicador'].notna()] # remove NaN na coluna "indicador"

df_2015_indic5.drop('Indicador',  axis='columns', inplace=True)    # remove colunas desnecessárias
df_2015_indic5.rename(columns = {'Valor':'Children out of school, primary'}, inplace = True) # renomeia a coluna valor pelo nome especifico do indicador

# lista_2015_indic5 = list(df_2015_indic5['Valor'])  # gera lista somente com valores do indicador 5
                  
###############################################################################################################################################################

In [257]:
df_2015n = pd.DataFrame({'País':df_2015['País']})
df_2015n = df_2015n.drop_duplicates()

# unindo dataframes utilizando join
df_2015n = df_2015n.merge(df_2015_indic1, how= 'inner', on='País')
df_2015n = df_2015n.merge(df_2015_indic2, how= 'inner', on='País')
df_2015n = df_2015n.merge(df_2015_indic3, how= 'inner', on='País')
df_2015n = df_2015n.merge(df_2015_indic4, how= 'inner', on='País')
df_2015n = df_2015n.merge(df_2015_indic5, how= 'inner', on='País')

In [258]:
df_2015n

,País,Access to clean fuels and technologies for cooking (% of population),Access to electricity (% of population),Adjusted net national income per capita (constant 2015 US$),Adolescents out of school (% of lower secondary school age),"Children out of school, primary"
0,Afghanistan,27.4,71.5,516.946743414225,NaN,NaN
1,Albania,76.2,99.9800033569336,3267.25802694689,3.05840992927551,3929
2,Algeria,99.5,99.1866607666016,3304.97215818961,NaN,23175
3,American Samoa,NaN,NaN,NaN,NaN,NaN
4,Andorra,100,100,NaN,NaN,NaN
...,...,...,...,...,...,...
229,South Asia,43.8832941273689,84.6089876014908,1372.4194449053,NaN,NaN
230,South Asia (IDA & IBRD),43.8832941273689,84.6089876014908,1372.4194449053,17.4324798583984,17392756
231,Sub-Saharan Africa,14.4882753235585,39.0737470627612,1382.6773885296,38.3366317749023,33945052
232,Sub-Saharan Africa (excluding high income),14.4802497056459,39.0680288898584,1381.68085991429,38.3386497497559,33944976
233,Sub-Saharan Africa (IDA & IBRD countries),14.4882753235585,39.0737470627612,1382.6773885296,38.3366317749023,33945052

In [259]:
# LIMITE DE EXECUÇÃO ATUAL DO SCRIPT !!!!!!!!!!!!!!!!!!!!!!!!

pdb.set_trace()
clear_output()

###############################

--Return--
> <ipython-input-259-40e3d97377f0>(7)<module>()->None
-> pdb.set_trace()
(Pdb) p
*** SyntaxError: unexpected EOF while parsing
(Pdb) q

BdbQuit: ignored

In [ ]:


# transposição
# df = df.transpose()                                       # transpõe o dataframe para facilitar a visualização
# new_header = df.iloc[0]                                   #grab the first row for the header
# df = df[1:]                                               #take the data less the header row
# df.columns = new_header                                   #set the header row as the df header

# renomear colunas
# # colunas1 = ['País']
# colunas2 = list(range(2017,2020+1))
# for n in colunas2:
#   colunas1.append(str(n))

# df.columns = colunas1


# df

In [ ]:
# passando os valores do datafame de 'string' para 'float':
df = df.astype(float)

### **REMOÇÃO DE OUTLIERS E DADOS FORA DA CURVA**

In [ ]:
df[df > 4.0] = np.nan
df[df < 2.2] = np.nan

### TESTE DE NORMALIDADE

In [ ]:
significancia = 0.05  # 95% de confiabilidade
lista_pvalor = []
lista_pvalor_bool = []

for n in df.columns:
  if df[n].count() > 8:
    pvalor = normaltest(df[n].dropna())[1] # retorna a estatistica de teste e o p-valor (precisa remover os NaN)
    lista_pvalor.append(pvalor)
    if pvalor > significancia:
      lista_pvalor_bool.append('Sim')
    else:
      lista_pvalor_bool.append('Não')
  else:
    df.drop(n,  axis='columns', inplace=True)    # remove colunas com menos de 8 dados


# df_resumo

### RESUMO

In [ ]:
# criação de dataframe de resumo dos dados:
lista_index = list(df.columns)
lista_media = []
lista_dp = []
lista_num_amostras = []

for n in range(0, len(df.columns)):
  lista_media.append(df[df.columns[n]].mean())
  lista_dp.append(df[df.columns[n]].std())
  lista_num_amostras.append(df[df.columns[n]].count())

df_resumo = pd.DataFrame({'Ano': lista_index, 
                         'Média':lista_media, 
                         'Desvio Padrão': lista_dp,
                          'Amostras': lista_num_amostras})

df_resumo["Variabilidade (%)"] = 100*df_resumo['Desvio Padrão']/df_resumo['Média']

df_resumo['p-Valor (normal test)'] = lista_pvalor
df_resumo['É Normal? (95% signif.)'] = lista_pvalor_bool

df_resumo

### T-STUDENT

In [ ]:
lista_tstudent = ['-']
lista_tcrit_2caudas = ['-']
lista_p_2caudas = ['-']
lista_tstudent_bool = ['-']

for n in range(1, len(df_resumo.index)):
  t = abs(df_resumo['Média'][n] - df_resumo['Média'][n-1]) / ((df_resumo['Desvio Padrão'][n]/df_resumo['Amostras'][n] + df_resumo['Desvio Padrão'][n-1]/df_resumo['Amostras'][n-1]) ** 0.5)

  lista_tstudent.append(t) # valor t
  lista_tcrit_2caudas.append(stats.t.ppf(q=0.975, df=12)) # t critico pra curva de 2 caudas
  pvalor = 2*(1-stats.t.cdf(x=t, df=12))  # p pra curva de 2 caudas
  lista_p_2caudas.append(pvalor) 
  if pvalor > significancia:
    lista_tstudent_bool.append('Não')
  else:
    lista_tstudent_bool.append('Sim')


df_resumo['Valor t'] = lista_tstudent
df_resumo['Valor t-crít'] = lista_tcrit_2caudas
df_resumo['Valor p (Comparação)'] = lista_p_2caudas
df_resumo['Preço Mudou? (95% signif.)'] = lista_tstudent_bool

### TESTE F

In [ ]:
# AINDA NÃO FOI PROJETADO

##**RESULTADOS**

###**GERAÇÃO DE GRÁFICOS**

In [ ]:
for i in df.columns:
  if i == 'País':
    pass
  else:
    fig, ax = plt.subplots()
    ax.hist(df[i], bins=50, density=True, color='gray',histtype = 'bar')

    ax.set_title("Preço de Dieta Saudável Mundial Média - Ano de " + str(i))
    ax.set_ylabel('Densidade de Probabilidade')
    ax.set_xlabel('Preço')
    fig.savefig(bd_geral + "Imagens/histograma_PreçoComida_anos_" + str(i) + ".png", dpi=300)

###**GERAÇÃO DE TABELAS**

In [ ]:
df_resumo

In [ ]:
df_resumo.to_excel(bd_geral + "Planilhas/resumo.xlsx")

## **FINALIZAÇÃO DO SCRIPT**

In [ ]:
# Cronometra o tempo de execução do programa

end_script = time.time()
print('Tempo do script {:.2f} segundos'.format((end_script - start_script)))